body {
	font-family: Roboto;

	background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
display: flex;
justify-content: center;

}


h1 {
	background: #2980B9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

input {
	font-size: 18px;
	background: #F7F7F7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980B9;
	border: 3px solid rgba(0, 0, 0, 0);
}


input:focus {
	background: white;
	border: 3px solid #2980B9;
	outline: none;
}



ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0px;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}


li {
	background: white;
	height: 40px;
	line-height: 40px;
	color: #666;
	font-size: 17px;
}


li:hover span {
	width: 40px;
	opacity: 1.0;
}



/*every other li */
li:nth-child(2n) {
	background: #F7F7F7;
}



#container {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	width: 360px;
	background: #F7F7F7;
	margin-top: 200px;
}


.fa-plus {
	float: right;
}


.completed {
	color: gray;
	text-decoration: line-through;
}

@media only screen and (max-width: 900px) {
	#container {
		width: 320px;
		margin-top: 150px;
	}

	input {
		font-size: 18px;
	}

	h1 {
		font-size: 20px;
	}
}

@media only screen and (max-width: 600px) {
	#container {
		width: 300px;
		margin-top: 100px;
	}

	input {
		font-size: 15px;
	}

	h1 {
		font-size: 18px;
	}

	li {
		font-size: 15px;
	}
}
